# 下面是一个自己组成的csv例子

In [1]:
from utils.DefineData import *
import pandas as pd
import numpy as np
dictDF = {
    "fe1" : np.arange(0,10),
    "fe2" : np.arange(10,20),
    "fe5" : np.arange(20,30),
    FAULT_FLAG : [1,2,3,5,1,2,3, 5, 5,3]
}
testdf = pd.DataFrame(data=dictDF)
testdf

   fe1  fe2  fe5  faultFlag
0    0   10   20          1
1    1   11   21          2
2    2   12   22          3
3    3   13   23          5
4    4   14   24          1
5    5   15   25          2
6    6   16   26          3
7    7   17   27          5
8    8   18   28          5
9    9   19   29          3

In [2]:
# testdf[FAULT_FLAG]
# sFault_Flag_Colums = sorted(list(set(testdf[FAULT_FLAG])))
# print(sFault_Flag_Colums)

In [3]:
import utils.DataFrameOperation
import utils.FeatureExtraction
from utils.DefineData import *
_ = utils.FeatureExtraction.featureExtraction(testdf, windowSize=5)

0 5
[0, 1, 2, 3, 4]
fe1_min 0
5 10
[5, 6, 7, 8, 9]
fe1_min 5
0 5
[10, 11, 12, 13, 14]
fe2_min 10
5 10
[15, 16, 17, 18, 19]
fe2_min 15
0 5
[20, 21, 22, 23, 24]
fe5_min 20
5 10
[25, 26, 27, 28, 29]
fe5_min 25
***********featureExtraction************
   fe1_min  fe1_max
0        0        4
1        5        9
******************end*******************

   fe1  fe2
0    0   10
1    1   11
2    2   12
3    3   13
4    4   14
5    5   15
6    6   16
7    7   17
8    8   18
9    9   19