# 下面是一个自己组成的csv例子

In [1]:
from utils.DefineData import *
import pandas as pd
import numpy as np

from utils.GetMetrics import get_metrics

dictDF = {
    "time" : [1,2,3,4,5, 6],
    "fe1" : np.arange(0,6),
    "fe22" : np.arange(10,16),
    "fe55" : np.arange(20,26),
    # FAULT_FLAG : [1] * 5
}
testdf1 = pd.DataFrame(data=dictDF)

dictDF = {
    "time": [1,1,1,1,2,2,3,3, 4, 5],
    "fe1" : np.arange(1,11),
    "fe2" : np.arange(15,25),
    "fe5" : np.arange(30,40),
    FAULT_FLAG : [1] * 10
}
testdf2 = pd.DataFrame(data=dictDF)
testdf3 = pd.DataFrame()

In [102]:
# testdf1 = testdf1.set_index("time")
testdf1

   time  fe1  fe22  fe55
0     1    0    10    20
1     2    1    11    21
2     3    2    12    22
3     4    3    13    23
4     5    4    14    24
5     6    5    15    25

In [103]:
# testdf2 = testdf2.set_index("time")
testdf2

   time  fe1  fe2  fe5  faultFlag
0     1    1   15   30          1
1     1    2   16   31          1
2     1    3   17   32          1
3     1    4   18   33          1
4     2    5   19   34          1
5     2    6   20   35          1
6     3    7   21   36          1
7     3    8   22   37          1
8     4    9   23   38          1
9     5   10   24   39          1

In [99]:
features = ["fe1", "fe2"]
dfs = [testdf1, testdf2]

In [100]:
result = testdf1.join(testdf2.set_index("time"), lsuffix="_df1", rsuffix="_df2", how="right", on="time").reset_index(drop=True)
result

   time  fe1_df1  fe22  fe55  fe1_df2  fe2  fe5  faultFlag
0     1        0    10    20        1   15   30          1
1     1        0    10    20        2   16   31          1
2     1        0    10    20        3   17   32          1
3     1        0    10    20        4   18   33          1
4     2        1    11    21        5   19   34          1
5     2        1    11    21        6   20   35          1
6     3        2    12    22        7   21   36          1
7     3        2    12    22        8   22   37          1
8     4        3    13    23        9   23   38          1
9     5        4    14    24       10   24   39          1

In [17]:
testdf2

   time   fe1   fe2  fe5  faultFlag
0     1     1    15   30          1
1     1  1000  1000   31          1
2     1     3    17   32          1
3     1     4    18   33          1
4     2     5    19   34          1
5     2     6    20   35          1
6     3     7    21   36          1
7     3     8    22   37          1
8     4     9    23   38          1
9     5    10    24   39          1

## concat的使用

In [45]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
					'B': ['B0', 'B1', 'B2', 'B3'],
					'C': ['C0', 'C1', 'C2', 'C3'],
					'D': ['D0', 'D1', 'D2', 'D3']},
					index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
					'B': ['B4', 'B5', 'B6', 'B7'],
					'C': ['C4', 'C5', 'C6', 'C7'],
					'D': ['D4', 'D5', 'D6', 'D7']},
					index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
			  'B': ['B8', 'B9', 'B10', 'B11'],
			  'C': ['C8', 'C9', 'C10', 'C11'],
			  'D': ['D8', 'D9', 'D10', 'D11']},
			  index=[7, 9, 10, 11])
# 现将表构成list，然后在作为concat的输入
frames = [df1, df2, df3]

In [46]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [47]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [41]:
df3

      A    B    C    D
7    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [42]:
result = pd.concat(frames)
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
7    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [49]:
result = pd.concat(frames, keys=['x', 'y', 'z'], join="inner", axis=1, )
result

Empty DataFrame
Columns: [(x, A), (x, B), (x, C), (x, D), (y, A), (y, B), (y, C), (y, D), (z, A), (z, B), (z, C), (z, D)]
Index: []

In [105]:
testdf2

(   time  fe1  fe2  fe5  faultFlag
 0     1    1   15   30          1
 1     1    2   16   31          1
 2     1    3   17   32          1
 3     1    4   18   33          1
 4     2    5   19   34          1
 5     2    6   20   35          1
 6     3    7   21   36          1
 7     3    8   22   37          1
 8     4    9   23   38          1
 9     5   10   24   39          1,
 False)

In [2]:
from utils.DataFrameOperation import *
testdf2 = subtractFirstLineFromDataFrame(df=testdf2, columns=["fe1", "fe2"])
testdf2

(   time  fe1  fe2  fe5  faultFlag
 0     1    0    0   30          1
 1     1    1    1   31          1
 2     1    2    2   32          1
 3     1    3    3   33          1
 4     2    4    4   34          1
 5     2    5    5   35          1
 6     3    6    6   36          1
 7     3    7    7   37          1
 8     4    8    8   38          1
 9     5    9    9   39          1,
 False)

In [1]:

from utils.DefineData import *
import pandas as pd
import numpy as np

from utils.GetMetrics import get_metrics

dictDF = {
    "time" : [1,2,3,4,5, 6],
    "fe1" : np.arange(0,6),
    "fe22" : np.arange(10,16),
    "fe55" : np.arange(20,26),
    # FAULT_FLAG : [1] * 5
}
testdf1 = pd.DataFrame(data=dictDF)

dictDF = {
    "time": [1,1,1,1,2,2,3,3, 4, 5],
    "fe1" : np.arange(1,11),
    "fe2" : np.arange(15,25),
    "fe5" : np.arange(30,40),
    FAULT_FLAG : [1] * 10
}
testdf2 = pd.DataFrame(data=dictDF)
testdf3 = pd.DataFrame()

In [5]:
from utils.DefineData import *
def setPDfaultFlag(df: pd.DataFrame, ff: int) -> pd.DataFrame:
    if FAULT_FLAG  in df.columns.array:
        df = df.drop(FAULT_FLAG, axis=1)
    lengthpd = len(df)
    ffdict = {FAULT_FLAG: [ff] * lengthpd}
    tpd = pd.DataFrame(data=ffdict)
    tpd = pd.concat([df, tpd], axis=1)
    return tpd
print(testdf2)

setPDfaultFlag(testdf2, 199)

   time  fe1  fe2  fe5  faultFlag
0     1    1   15   30          1
1     1    2   16   31          1
2     1    3   17   32          1
3     1    4   18   33          1
4     2    5   19   34          1
5     2    6   20   35          1
6     3    7   21   36          1
7     3    8   22   37          1
8     4    9   23   38          1
9     5   10   24   39          1

   time  fe1  fe2  fe5  faultFlag
0     1    1   15   30        199
1     1    2   16   31        199
2     1    3   17   32        199
3     1    4   18   33        199
4     2    5   19   34        199
5     2    6   20   35        199
6     3    7   21   36        199
7     3    8   22   37        199
8     4    9   23   38        199
9     5   10   24   39        199

In [9]:
ipath = "/HuaweiMachine/测试数据/wrfrst单机版e5/wrfrst单机版e5/wrfrst-7.17-2/wrf_rst_e5-43_process_memleak-1200.csv"

In [10]:
import os
os.path.basename(ipath)

'wrf_rst_e5-43_process_memleak-1200.csv'