# 下面是一个自己组成的csv例子

In [28]:
from utils.DefineData import *
import pandas as pd
import numpy as np

from utils.GetMetrics import get_metrics

dictDF = {
    "fe1" : np.arange(0,10),
    "fe2" : np.arange(10,20),
    "fe5" : np.arange(20,30),
    FAULT_FLAG : [1] * 10
}
testdf1 = pd.DataFrame(data=dictDF)

dictDF = {
    "fe1" : np.arange(1,11),
    "fe2" : np.arange(15,25),
    "fe5" : np.arange(30,40),
    FAULT_FLAG : [1] * 10
}
testdf2 = pd.DataFrame(data=dictDF)
testdf3 = pd.DataFrame()

In [29]:
testdf1

   fe1  fe2  fe5  faultFlag
0    0   10   20          1
1    1   11   21          1
2    2   12   22          1
3    3   13   23          1
4    4   14   24          1
5    5   15   25          1
6    6   16   26          1
7    7   17   27          1
8    8   18   28          1
9    9   19   29          1

In [30]:
testdf2

   fe1  fe2  fe5  faultFlag
0    1   15   30          1
1    2   16   31          1
2    3   17   32          1
3    4   18   33          1
4    5   19   34          1
5    6   20   35          1
6    7   21   36          1
7    8   22   37          1
8    9   23   38          1
9   10   24   39          1

In [31]:
pd.concat([testdf1, testdf2], axis=0, ignore_index=True)

    fe1  fe2  fe5  faultFlag
0     0   10   20          1
1     1   11   21          1
2     2   12   22          1
3     3   13   23          1
4     4   14   24          1
5     5   15   25          1
6     6   16   26          1
7     7   17   27          1
8     8   18   28          1
9     9   19   29          1
10    1   15   30          1
11    2   16   31          1
12    3   17   32          1
13    4   18   33          1
14    5   19   34          1
15    6   20   35          1
16    7   21   36          1
17    8   22   37          1
18    9   23   38          1
19   10   24   39          1

In [36]:

td = {
    11: {"fe1": [1,2,3], "fe2": [4,5,6]},
    22: {"fe1": [3,4,5], "fe2": [4,5,6]}
}
pd.DataFrame(td)

            11         22
fe1  [1, 2, 3]  [3, 4, 5]
fe2  [4, 5, 6]  [4, 5, 6]

In [37]:
import os
os.mkdir("/tmp/lyh/l/1/3")

FileNotFoundError: [Errno 2] No such file or directory: '/tmp/lyh/l/1/3'

In [1]:
from utils.GetMetrics import get_metrics
l1 = [0, 0, 0, 0, 0, 1]
l2 = [0, 0, 0, 0, 0, 0]
get_metrics(l1, l2, 1)

{'tp': 0,
 'tn': 5,
 'fp': 0,
 'fn': 1,
 'precision': nan,
 'recall': 0.0,
 'accuracy': 0.8333333333333334}