# 下面是一个自己组成的csv例子

In [1]:
from utils.DefineData import *
import pandas as pd
import numpy as np
dictDF = {
    "fe1" : np.arange(0,10),
    "fe2" : np.arange(10,20),
    "fe5" : np.arange(20,30),
    FAULT_FLAG : [1,2,3,5,1,2,3, 5, 5,3]
}
testdf1 = pd.DataFrame(data=dictDF)

dictDF = {
    "fe1" : np.arange(1,11),
    "fe2" : np.arange(15,25),
    "fe5" : np.arange(30,40),
    FAULT_FLAG : [1,2,3,5,1,2,3, 5, 5,3]
}
testdf2 = pd.DataFrame(data=dictDF)

In [2]:
# testdf[FAULT_FLAG]
# sFault_Flag_Colums = sorted(list(set(testdf[FAULT_FLAG])))
# print(sFault_Flag_Colums)

In [2]:
import utils.DataFrameOperation
from utils.FeatureExtraction import *
from utils.FeatureSelection import *
from utils.DefineData import *

In [3]:
d1, flag = getPvalueFromTwoDataFrame(testdf1, testdf2)
print(d1)
print(flag)

{'fe1': 0.9667464356809096, 'fe2': 0.005841778142694731, 'fe5': 4.8075337049514946e-06}
False

In [5]:
getFeatureNameByBenjamini_Yekutiel(d1)

({'fe5': 2.644143537723322e-05}, {'fe1': 1.0, 'fe2': 0.01606488989241051})

In [6]:
l1 = [1,2,3]
l2 = [2,3,4]
l1.extend(l2)
l1

[1, 2, 3, 2, 3, 4]

In [3]:
from utils.FeatureSelection import *

getUsefulFeatureFromAllDataFrames(testdf1, [testdf2])

(    fe5  faultFlag
 0    20          1
 1    21          2
 2    22          3
 3    23          5
 4    24          1
 5    25          2
 6    26          3
 7    27          5
 8    28          5
 9    29          3
 10   30          1
 11   31          2
 12   32          3
 13   33          5
 14   34          1
 15   35          2
 16   36          3
 17   37          5
 18   38          5
 19   39          3,
 False)

In [3]:
testdf1

   fe1  fe2  fe5  faultFlag
0    0   10   20          1
1    1   11   21          2
2    2   12   22          3
3    3   13   23          5
4    4   14   24          1
5    5   15   25          2
6    6   16   26          3
7    7   17   27          5
8    8   18   28          5
9    9   19   29          3

In [4]:
testdf2

   fe1  fe2  fe5  faultFlag
0    1   15   30          1
1    2   16   31          2
2    3   17   32          3
3    4   18   33          5
4    5   19   34          1
5    6   20   35          2
6    7   21   36          3
7    8   22   37          5
8    9   23   38          5
9   10   24   39          3

In [6]:
x = testdf2.drop("fe5", axis=1)

In [7]:
testdf2

   fe1  fe2  fe5  faultFlag
0    1   15   30          1
1    2   16   31          2
2    3   17   32          3
3    4   18   33          5
4    5   19   34          1
5    6   20   35          2
6    7   21   36          3
7    8   22   37          5
8    9   23   38          5
9   10   24   39          3

In [8]:
x

   fe1  fe2  faultFlag
0    1   15          1
1    2   16          2
2    3   17          3
3    4   18          5
4    5   19          1
5    6   20          2
6    7   21          3
7    8   22          5
8    9   23          5
9   10   24          3