# 下面是一个自己组成的csv例子

In [33]:
from utils.DefineData import *
import pandas as pd
import numpy as np
dictDF = {
    "fe1" : np.arange(0,10),
    "fe2" : np.arange(10,20),
    "fe5" : np.arange(20,30),
    # FAULT_FLAG : [1,2,3,5,1,2,3, 5, 5,3]
}
testdf1 = pd.DataFrame(data=dictDF)

dictDF = {
    "fe11" : np.arange(1,11),
    "fe22" : np.arange(15,25),
    "fe555" : np.arange(30,40),
   # FAULT_FLAG : [1,2,3,5,1,2,3, 5, 5,3]
}
testdf2 = pd.DataFrame(data=dictDF)
testdf3 = pd.DataFrame()

In [34]:
testdf1

   fe1  fe2  fe5
0    0   10   20
1    1   11   21
2    2   12   22
3    3   13   23
4    4   14   24
5    5   15   25
6    6   16   26
7    7   17   27
8    8   18   28
9    9   19   29

In [35]:
testdf2

   fe11  fe22  fe555
0     1    15     30
1     2    16     31
2     3    17     32
3     4    18     33
4     5    19     34
5     6    20     35
6     7    21     36
7     8    22     37
8     9    23     38
9    10    24     39

In [37]:
pd.concat([testdf1, testdf2], axis=1)

   fe1  fe2  fe5  fe11  fe22  fe555
0    0   10   20     1    15     30
1    1   11   21     2    16     31
2    2   12   22     3    17     32
3    3   13   23     4    18     33
4    4   14   24     5    19     34
5    5   15   25     6    20     35
6    6   16   26     7    21     36
7    7   17   27     8    22     37
8    8   18   28     9    23     38
9    9   19   29    10    24     39

In [32]:
testdf2.to_csv("tmp/woai.csv", index=False)

In [38]:
testdf2.shape

(10, 3)